//TODO this shouldn't be here
div.bloom-page{
    border-bottom: 0 !important;
    display: none !important; //we don't show unless we're selected

    transition: opacity 0.5s;
}


html,body{
    height:100%;
    width:100%;
}

#root{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    //border: solid 1px orange;
}

#scaler{
    transform-origin: left top;
     //border: solid 1px red;
}

#pageViewer{
     display: flex;
     flex-direction: row;
     //when we do the transform: scale(n), which is done via code, we want
     //to still stick to the upper left corner
     transform-origin: left top 0px;
}


body{
     overflow: hidden;
}
.bloom-page.currentPage{
    display: block !important;
}
.bloom-page::after{
    content:'';
}

.numberedPage:after{
  content: '' !important;
}

.Device16x9Landscape .marginBox {
    background-color: black;

    .split-pane.horizontal-percent > .split-pane-component.position-top{
        margin-bottom: 0;
    }

    .bloom-imageContainer{
        //the basePage.css has a "- 3px" that leaves the bottom of the screen unused
        height: calc(100%) !important;
    }
}