#playerToolbar{
    position: fixed;
    top: 0;
    /*height: 50px;*/
    background-color: #363333;
    width: 100%;
    color: white;
    padding: 10px;
}

#pages-carousel{
     transition: left 0.5s ease 0s;
}